@import '../../app/globals.scss';


section.questions {
    width: 100%;
    max-width: $mx-width;
    padding: 0 10px;
    margin: 100px auto;
    .title {
        width: 100%;
        text-align: center;
    }
    .cards {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 30px;
        gap: 29px;
        align-self: stretch;
        .card {
            display: flex;
            padding: 30px 57px;
            flex-direction: column;
            cursor: pointer;
            align-items: flex-start;
            align-self: stretch;
            border-radius: 42px;
            border: var(--Radius-Sharp, 2px) solid rgba(76, 184, 72, 0.35);
            background: var(--Neutral-100, #FFF);
            .topCtr {
                display: flex;
                width: 1197.786px;
                justify-content: space-between;
                align-items: center;
                h4 {
                    color: #105A25;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 28px; /* 127.273% */
                }
                .arrow {
                    transition: transform 0.3s ease;
                    transform: rotate(-90deg);
                    circle {
                        fill: #FFFFFF;
                        transition: all .3s ease-in-out;
                    }
                    path {
                        transition: all .3s ease-in-out;
                        stroke: #105A25;
                    }
                }
                
                .arrow.open {
                    transform: rotate(0deg);
                    circle {
                        fill: #105A25;
                    }
                    path {
                        stroke: white;
                    }
                }
            }
            .bottomCtr {
                overflow: hidden;
                max-height: 0;  /* Начальное значение max-height */
                transition: max-height 0.3s ease-in-out;  /* Плавная анимация max-height */
                p {
                    color: #4CB848;
                    font-weight: 400;
                    font-size: 18px;
                    padding-top: 10px;
                }
                &.active {
                    max-height: 500px;
                }
            }
        }
    }
}