@charset "UTF-8";
@tailwind base;
@tailwind components;
@tailwind utilities;
h2 {
  color: #105A25;
  font-size: 32px;
  font-weight: 600;
  line-height: 120%; /* 38.4px */
}
@media (max-width: 576px) {
  h2 {
    font-size: 19px;
  }
}

.nav-icon {
  display: none;
}

.fade-in-section {
  -webkit-transform: translate(0px, 50px);
          transform: translate(0px, 50px);
}

body {
  width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-block-start: 100px;
}

section.questions {
  width: 100%;
  max-width: 1292px;
  padding: 0 10px;
  margin: 100px auto 0;
}
section.questions .title {
  width: 100%;
  text-align: center;
}
section.questions .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 30px;
  gap: 29px;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}
section.questions .cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 57px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  border-radius: 42px;
  border: var(--Radius-Sharp, 2px) solid rgba(76, 184, 72, 0.35);
  background: var(--Neutral-100, #FFF);
}
@media (max-width: 576px) {
  section.questions .cards .card {
    padding: var(--Spacing-ml, 20px);
    border-radius: 32px;
  }
}
section.questions .cards .card .topCtr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.questions .cards .card .topCtr h4 {
  color: #105A25;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 127.273% */
}
@media (max-width: 576px) {
  section.questions .cards .card .topCtr h4 {
    max-width: 270px;
    font-size: 16px;
  }
}
section.questions .cards .card .topCtr .arrow {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
@media (max-width: 576px) {
  section.questions .cards .card .topCtr .arrow {
    width: 35px;
    height: 35px;
  }
}
section.questions .cards .card .topCtr .arrow circle {
  fill: #FFFFFF;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
section.questions .cards .card .topCtr .arrow path {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  stroke: #105A25;
}
section.questions .cards .card .topCtr .arrow.open {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
section.questions .cards .card .topCtr .arrow.open circle {
  fill: #105A25;
}
section.questions .cards .card .topCtr .arrow.open path {
  stroke: white;
}
section.questions .cards .card .bottomCtr {
  overflow: hidden;
  max-height: 0; /* Начальное значение max-height */
  -webkit-transition: max-height 0.3s ease-in-out;
  transition: max-height 0.3s ease-in-out; /* Плавная анимация max-height */
}
section.questions .cards .card .bottomCtr p {
  color: #4CB848;
  font-weight: 400;
  font-size: 18px;
  padding-top: 10px;
}
@media (max-width: 576px) {
  section.questions .cards .card .bottomCtr p {
    font-size: 14px;
  }
}
section.questions .cards .card .bottomCtr.active {
  max-height: 500px;
}