@charset "UTF-8";
@tailwind base;
@tailwind components;
@tailwind utilities;
h2 {
  color: #105A25;
  font-size: 32px;
  font-weight: 600;
  line-height: 120%; /* 38.4px */
}
@media (max-width: 576px) {
  h2 {
    font-size: 14px;
  }
}

.scroll-container {
  width: 100%; /* Задаем ширину контейнера */
  overflow: hidden; /* Скрываем всё, что выходит за пределы контейнера */
  position: relative;
  margin-top: 100px;
}
.scroll-container .sliderImg {
  height: 376px;
  width: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 576px) {
  .scroll-container .sliderImg {
    height: 189px !important;
    width: 100% !important;
  }
}
.scroll-container .title {
  width: 100%;
  max-width: 1060px;
  text-align: center;
  margin: 0 auto 30px;
}

.scroll-content {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: nowrap !important;
      flex-wrap: nowrap !important;
}