@import '../../app/globals.scss';


.heading{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    overflow: hidden;
    align-items: center;
    position: relative;
    height: 100vh;
    max-height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80% 50%;
    background-image: url('/Header Section bg.svg');
    border-radius: 0 0 20px 20px;
    @media (max-width: 576px){
        max-height: 540px;
        padding-top: 130px;
        align-items: start;
        background-image: url('/Frame 40458.svg') !important;
    }
    .heading-inside{
        width: 100%;
        padding: 0 10px;
        max-width: $mx-width;
        margin: 0 auto;
        display: flex;

        .info {
            width: 100%;
            max-width: 490px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            @media (max-width: 576px){
                gap: 10px;
                min-width: 317px;
            }
            h1{
                color: $PrimaryColor;
                font-size: 48px;
                font-weight: 700;
                width: 100%;
                max-width: 460px;
                @media (max-width: 576px){
                    font-size: 24px;
                    max-width: 210px;
                }
            }
            p {
                font-size: 24px;
                color: $PrimaryColor;
                @media (max-width: 576px){
                    font-size: 14px;
                }
            }
            .btnTitle {
                display: flex;
                align-items: center;
                gap: 20px;
                .btn {
                    padding: 15px 24px;
                    border-radius: 49px;
                    background: #105A25;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: var(--Spacing-sm, 10px);
                    color: #F4ECD9;
                    font-size: 16px;
                    font-weight: 600;
                    width: fit-content;
                    @media (max-width: 576px){
                        font-size: 12px;
                        padding: 11px 18px;
                        gap: var(--Radius-sm, 8px);
                    }
                    svg {
                        transition: all .2s ease-in-out;
                    }
                    &:hover svg {
                        transform: translateX(5px);
                    }
                }
                .title {
                    display: flex;
                    align-items: center;
                    gap: var(--Spacing-sm, 10px);
                    .free {
                        color: #4CB848;
                        font-size: 16px;
                        font-weight: 600;
                        @media (max-width: 576px){
                            font-size: 12px;
                        }
                    }
                    .date {
                        color: #4CB848;
                        font-size: 16px;
                        font-weight: 400;
                        @media (max-width: 576px){
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}