@tailwind base;
@tailwind components;
@tailwind utilities;

  
  // colors
  
  $PrimaryColor: #008228;
  $LightGray: #F5F5F5;
  $mx-width: 1292px;
  $p-default: 0 10px;
  $f-fors: 'TT fors', sans-serif;
  $f-pint: 'pintanina', sans-serif;
  
  
  h2 {
    color: #105A25;
    font-size: 32px;
    font-weight: 600;
    line-height: 120%; /* 38.4px */
    @media (max-width: 576px){
      font-size: 19px;
    }
  }





  .nav-icon {
    display: none;
  }


  .fade-in-section {
    transform: translate(0px, 50px);
  }
  
  body {
    width: 100%;
    overflow-x: hidden;
  }

  html{
    scroll-behavior: smooth;
  }
  section {
    scroll-margin-block-start: 100px;
  }
  // section#history {
  //   // margin-top: 50px;
  //   // scroll-margin-block-start: 350px;
  //   scroll-margin-top: 50vh;
  // }