@tailwind base;
@tailwind components;
@tailwind utilities;
h2 {
  color: #105A25;
  font-size: 32px;
  font-weight: 600;
  line-height: 120%; /* 38.4px */
}
@media (max-width: 576px) {
  h2 {
    font-size: 20px;
  }
}

.nav-icon {
  display: none;
}

.fade-in-section {
  -webkit-transform: translate(0px, 50px);
          transform: translate(0px, 50px);
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-block-start: 100px;
}

.footer-inside {
  width: 100%;
  max-width: 1292px;
  padding: 38px;
  border-radius: var(--Spacing-xl, 40px);
  border: var(--Radius-Sharp, 1px) solid var(--Neutrals-Neutrals200, #EDEDED);
  gap: 4px;
  margin: 0 auto;
  background: var(--Base-Base-White, #FFF);
}
.footer-inside .ads {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-inside .topBlocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-inside .topBlocks .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 24px;
}
.footer-inside .topBlocks .footer-content .adress-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--Spacing-m, 14px);
}
.footer-inside .topBlocks .footer-content .adress-box .adressCtr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  color: #000;
  font-size: 16px;
  font-weight: 400;
}
.footer-inside .topBlocks .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: var(--Radius-ml, 32px);
}
.footer-inside .topBlocks .footer-links .linksCtr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 24px;
}
.footer-inside .topBlocks .footer-links .linksCtr a {
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

.bottomBlock span,
.bottomBlock a {
  font-size: 14px;
  color: var(--Neutrals-Neutrals900, #AEAEAE);
  font-weight: 600;
}

.bottomBlock {
  margin-top: 20px;
}

footer {
  padding: 0 10px 25px;
  margin-top: 52px;
}
footer span,
footer a {
  color: #808080;
  font-weight: 400;
}

@media (max-width: 800px) {
  footer .footer-inside {
    gap: 24px;
  }
  footer .footer-inside .topBlocks {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 24px;
  }
  footer .footer-inside .topBlocks .footer-content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer-inside .topBlocks .footer-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 24px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer-inside .topBlocks .footer-links .linksCtr {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 24px;
  }
  footer .footer-inside .bottomBlock {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}