@import '../../app/globals.scss';


#history {
    width: 100%;
    max-width: $mx-width;
    border-radius: 42px;
    margin: 0px auto 0;
    position: relative;
    overflow: hidden;
    padding-top: 100px;
    .title {
        text-align: center;
        margin-bottom: 20px;
    }
    @media (max-width: 576px){
        padding-top: 20px;
        border-radius: var(--Spacing-ml, 20px);
        background: #F9F4E9;
        margin: 100px 10px 0;
    }
    .mainCtr {
        width: 100%;
        position: relative;
        overflow: hidden;
        height: 400px;
        background-image: url('/Toy Story Detail Section.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: space-between;
        border-radius: 42px;
        padding: 0 100px 30px 50px;
        @media (max-width: 576px){
            padding: 10px;
            background-position: center 100%;
            background-image: url('/Group 35584.svg');
            height: fit-content !important;
            border-radius: 20px;
            flex-direction: column;
        }
        .info {
            z-index: 20;
            display: flex;
            width: 100%;
            max-width: 575px;
            flex-direction: column;
            height: 370px;
            justify-content: center;
            align-items: flex-start;
            gap: var(--Spacing-ml, 20px);
            @media (max-width: 576px){
                gap: var(--Spacing-ml, 10px);
                height: fit-content;
            }
            h3 {
                color: #105A25;
                font-size: 32px;
                font-style: normal;

                font-weight: 500;
                text-transform: capitalize;
                line-height: 120%; /* 38.4px */
                .bold {
                    font-weight: 600;
                    
                }
                @media (max-width: 576px){
                    font-size: 24px;
                }
            }
            p {
                color: #105A25;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%; /* 28.8px */ 
                @media (max-width: 576px){
                  font-size: 16px;
                }
            }
            button {
                display: flex;
                padding: 15px 24px;
                justify-content: center;
                align-items: center;
                gap: var(--Spacing-sm, 10px);
                border-radius: 49px;
                background: #105A25;
                color: #F4ECD9;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 100%; /* 16px */
                svg {
                    transition: all .2s ease-in-out;
                }
                &:hover svg {
                    transform: translateX(5px);
                }   
            }
            .name{
                display: none;
            }
        }
        .island {
            z-index: 20;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 370px;
            .slider {
                min-height: 360px;
                height: 100%;
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
                @media (max-width: 576px){
                    min-height: 330px !important;
                    justify-content: space-between;
                }
                .imgCtr {
                    width: 344px !important;
                    @media (max-width: 576px){
                        width: 100% !important;
                        min-width: 190px;
                    }
                    img {
                        width: 100%;
                    }
                }
            }
            .slider-arrow {
                padding: 15px 24px;
                border-radius: 49px;
                background: #105A25;
                width: fit-content;
                height: fit-content;
            }
        }
    }
    .dotsCtr {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 1;
        top: 0;
        left: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .dot {
            width: 7px;
            height: 5px;
            border-radius: 50%;
            position: absolute;
            animation: move var(--duration) linear infinite;
            background-color: #B4D97F;
        }
    
    }
}

.role {
    display: inline-flex;
    padding: var(--Spacing-s, 6px) 12px;
    justify-content: center;
    align-items: center;
    gap: var(--Spacing-sm, 10px);
    border-radius: 49px;
    background: #105A25;
    color: #F4ECD9;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 16px */
}

.popup {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    padding: 0 10px;
    .closeBtnCtr {
        width: 100%;
        max-width: 800px;
        position: fixed;
        margin: 0 auto;
        left: 50%;
        top: 20%; /* Вы можете изменить это значение, если хотите изменить вертикальное положение */
        transform: translateX(-50%);
        display: flex;
        justify-content: end;
        // right: 50%;
        top: 20%;
    }
    .closeBtn {
        border: var(--Radius-Sharp, 2px) solid rgba(76, 184, 72, 0.35);
        background-color: #F4ECD9;
        padding: 15px 15px;
        width: min-content; 
        border-radius: 999px;
        cursor: pointer;
        font-size: 20px;
        font-weight: 600;
        img {
            width: 20px;
            height: 20px;
        }
    }
    .popupInside{
        background-color: #F4ECD9;
        width: 100%;
        max-width: 800px;
        border: var(--Radius-Sharp, 2px) solid rgba(76, 184, 72, 0.35);
        border-radius: 42px;
        padding: 30px 20px 30px 57px;
        margin: 0 auto;
        @media (max-width: 576px){
            padding: 20px 15px;
          
        }
    }
}

@keyframes move {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(var(--moveX), var(--moveY));
    }
  }